@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerBold.woff2") format("woff2");
    src: url("../fonts/MullerLight.woff2") format("woff2");
    src: url("../fonts/MullerMedium.woff2") format("woff2");
    src: url("../fonts/MullerRegular.woff2") format("woff2");
}

body {
    font-family: "Muller", sans-serif;
}

.page {
    background: #E5E5E5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.yelow-star {
    color: #F0BF5F;
    width: 13px;
}

.white-star {
    color: #d3d3d3;
    width: 13px;
}

.container {
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    max-height: 160px;
}

.header-contacts {
    display: flex;
}

.logo {
    display: flex;
    /* height: 100%; */
}

.header-left {
    display: flex;
    max-width: 50%;
}

.header-contacts {
    margin-left: 35px;
}

.header-contacts-info {
    margin: auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
}

.header-right {
    max-width: 50%;
    display: flex;
}

.header-icon {
    display: inline-block;
    background-image: url('../img/Vector.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    height: 14px;
    width: 22px;
    transform: translateY(3px);
    margin-right: 5px;
}

.personal-office {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
}

.personal-office {
    margin: auto;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.nav-container {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 15px;
}

.header-nav-list {
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
    margin: 10px 40px;

}

.header-nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}

.header-nav-link:hover {
    color: #CC9933;
}

.header-nav-item:not(:last-child) {
    margin-right: 45px;
}

.btn-right {
    display: flex;
    margin: 0;
}

.nav-left {
    margin-right: 114px;
}

.btn-link {
    border: 1px solid #CC9933;
    border-radius: 10px;
    padding: 12px 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
}

.btn-link:hover {
    background-color: #CC9933;
    color: white;
}

.btn-link:not(:last-child) {
    margin-right: 40px;
}


.specoffer-list {
    display: flex;
}

.specoffer-left {
    padding-right: 20px;
    max-height: 540px;
}

.specoffer-title {
    margin: 0;
    margin-top: 65px;
    margin-bottom: 19px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.specoffer-maldiv {
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/Rectangle\ 15.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 258px;
    width: 573px;
    margin-bottom: 20px;
}

.specoffer-krit {
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/Rectangle\ 15\ \(1\).png');
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 258px;
    width: 573px;
}

.specoffer-right {
    background-image: url('../img/33\ 1.jpg');
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 573px;
    width: 540px;
    max-height: 540px;
}

.maldiv,
.krit {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}

.room {
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}

.specoffer-price {
    margin-top: 15px;
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
}

.price-big {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.8;
}

.maldiv-discription {
    padding-left: 36px;
    padding-top: 36px;
    max-width: 266px;
}

.krit-discription {
    padding-left: 36px;
    padding-top: 36px;
    max-width: 367px;
}

.room-discription {
    padding-top: 209px;
    padding-left: 44px;
    padding-bottom: 37px;
    max-width: 300px;
}

.icon {
    display: inline-block;
    background-image: url(../img/Rectangle\ 2.svg);
    background-repeat: no-repeat;
    height: 18px;
    width: 14px;
    transform: translateY(5px);
}

.specoffer-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F0BF5F;
}

.about-us-title {
    margin: 0;
    margin-top: 65px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.about-us-text {
    max-width: 885px;
    margin-bottom: 68px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    max-width: 888px;
}

/* .services-cards {
    background: #FFFFFF;
    border-radius: 15px 15px 0px 0px;
} */

.services-main-title {
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.services-tittle {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    color: #CC9933;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
}

.services-block {
    max-width: 50%;
}

.services-cards {
    background: #FFFFFF;
    width: 573px;
    height: 163px;
    border-radius: 0px 0px 15px 15px;
    transform: translateY(-4px);
    margin-right: 20px;
}

.servises-cards-discription {
    padding: 35px 133px 35px 40px;
}

.services-description {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

.service {
    margin-bottom: 50px;
}

.services-img {
    margin-top: 20px;
}

.advantage-title {
    margin: 0;
    margin-top: 68px;
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.service-tittle-link {
    color: #CC9933;
}

.service-tittle-link:hover {
    color: orange;
}

.adventage-list {
    display: flex;
    flex-wrap: wrap;
}

.advantage-item {
    display: flex;
    flex-wrap: wrap;
    width: calc(100%/6);
    background: #FFFFFF;
    border-radius: 15px;
    justify-content: space-around;
    padding: 32px 38px;
    margin: 10px;
    justify-content: left;
}

.advantege-description {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    max-width: 185px;
    overflow: hidden;
}

.location-title {
    margin: 0;
    margin-top: 68px;
    margin-bottom: 25px;
}

.location-list {
    display: flex;
    flex-wrap: wrap;
}

.location-item {
    width: calc(100%/3);
    margin-bottom: 10px;
}

.hotel-img {
    margin: 0;
}

.location-description-all {
    background: #FFFFFF;
    border-radius: 0px 0px 15px 15px;
    transform: translateY(-4px);
    max-width: 374px;
    overflow: hidden;
    margin: 0;
    /* padding: 25px 35px; */
}

.location-description-cards {
    padding: 25px 35px;
}

.location-span {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.location-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    max-width: 50%;
}

.location-price-span {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}

.location-raiting {
    transform: translateY(3px);
}

.raiting-position {
    display: flex;
    justify-content: space-between;
}

.hotel-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}

.hotel-location {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.hotel-room-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
}

.location-description {
    margin-bottom: 47px;
}

.hotel-room-link {
    border: 1px solid #CC9933;
    border-radius: 10px;
    padding: 10px 15px;
    margin-right: 40px;
}

.hotel-room-link:hover {
    background-color: #CC9933;
    color: white;
}

.location-item-menu {
    background-image: url('../img/Group\ 37.png');
    border-radius: 15px;
    height: 436px;
    width: 371px;
}

.location-menu-link {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    padding-left: 49px;
  padding-top: 371px;
}

.location-menu-link:hover {
    color: #CC9933;
}
